[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pywin32 = "*"
pyzmq = "*"
pyinstaller = "*"
plyer = "*"
easysettings = "*"
pystray = "*"
PIL = "*"

[requires]
python_version = "3.8"
